@import './base.css';
:root {
    --primary-color: #F7F7F7;
    --secondary-color: #0071a1;
    --background-color: #323643;
    --text-color: #24232d ;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }